
body{
  background: url(./pexels-allec-gomes-4699016.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.App{
  padding: 40px 0 100px;
  max-width: 600px;
  margin: 0 auto;
}

 a{
  color: black;
  text-decoration: none;
}

.App-header{
  margin: 30px 0;
}

header h1{
  color: black ;
  font-weight: bold;
}

.App-footer p{
  text-align: center;
  margin: 30px 0;
}

@media (max-width: 390px) {
  body{
    background: url(./pexels-allec-gomes-4699016.jpg) no-repeat center center fixed;
    background-size: cover;
    
  }

  header h1{
    font-size: 38px;
  }
}
